DB_HOST=localhost
DB_PORT=3306
DB_USER=autoawake_user
DB_PASS=super_secret
DB_NAME=AutoAwakeAI

# MQTT Configuration
MQTT_BROKER=g______.emqxsl.com
MQTT_PORT=8883
MQTT_USER=secret
MQTT_PASSWORD=secret
